<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodSaver</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div id="app">
    <v-app>
      <v-tabs id="tabs" color="blue" dark centered slider-color="yellow">
        <v-tab href="#tab-1">
          Home
        </v-tab>
        <v-tab href="#tab-2">
          Recommendations
        </v-tab>
        <v-tab href="#tab-3">
          Settings
        </v-tab>
        <v-tab-item
          v-for="i in 3"
          :key="i"
          :id="'tab-' + i"
        >
        </v-tab-item>
      </v-tabs>
      <v-list>
        <v-subheader>Expired</v-subheader>
        <v-list-group
          v-for="item in items"
          :key="item.title"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ subItem.date }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
      <v-divider></v-divider>
      <v-list>
        <v-subheader>Expiring Soon</v-subheader>
        <v-list-group
          v-for="item in items"
          :key="item.title"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ subItem.date }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
      <v-divider></v-divider>
      <v-list>
        <v-subheader>Just Purchased</v-subheader>
        <v-list-group
          v-for="item in items"
          :key="item.title"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" @click="">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ subItem.date }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="main.js"></script>
</body>
</html>
