<!DOCTYPE.html>
<html>
<head>
    <title>Foodsaver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="Active" href="#">Help</a>
      </li>
    </ul>
    <div class="w1-main" style="text-align:center;">
        <section>
            <h1>Help Section</h1>
            <h2>What is our app about?</h2>
            <p>Our app aims to help households track their food</br> at home, preventing excessive buying and wasting food.</p>
            <h2>How do I add items?</h2>
            <p>There will be a button labelled "Add Item" on the home</br> page, allowing you to input your food and their relevant information.</p>
            <h2>How is the table organised?</h2>
            <p>Food that is about to expire soon will be shown first.</p>
        </section>
    </div>
</body>

</html>
